@font-face {
  font-family: "Vazirmatn";
  src: url("font/Vazirmatn-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  font-family: "Vazirmatn", sans-serif;
}

.container {
  max-width: 600px;
  width: 100%;
  margin-top: 80px;
}
.header {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f69517 , rgb(173, 16, 108), rgb(106, 106, 205) , #f69517
  );
  padding: 20px 40px 30px 40px;
}

.header h2 {
  font-size: 35px;
  color: #fff;
  margin: 10px;
}
.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.input-box input {
  width: 75%;
  padding: 8px 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: inherit;
}

.input-box button {
  width: 25%;
  padding: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
}

.input-box button:hover {
  background-color: #c2c2c2;
}

.input-box button:active {
  background-color: #d9d9d9;
}

.taskList {
  list-style-type: none;
  max-height: 350px;
  overflow: auto;
}

.taskList li {
  padding: 10px 2px 10px 40px;
  background-color: #ddd;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  position: relative;
  border-bottom: 1px solid rgb(161, 160, 160);
}

.taskList li:hover {
  background-color: #a6a5a5;
}

.taskList li .trash {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 22px;
  display: none;
}

.taskList li:hover .trash {
  display: inline-block;
}

.taskList li .trash i:hover {
  color: red;
}

.taskList li .check {
  position: absolute;
  left: 15px;
  top: 12.5px;
  display: none;
}

.taskList li.done {
  background-color: #a6a5a5;
  text-decoration: line-through;
  color: #fff;
}

.taskList li.done span:nth-last-of-type(1) {
  display: inline-block;
}

.taskList li:nth-last-of-type(1) {
  border-bottom: none;
}
